<a href="https://colab.research.google.com/github/Fuenfgeld/DMA2023TeamB/blob/main/ETL_and_Implementing_DWH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Erstellung eines Datawarehouse für das ANTICOVIS-Projekts
---

## Einleitung
Mit diesem Skript wird ein Datenwarehaouse(DWH) erstellt um ein effizientes und zielgerichtetes Antworten der Forschungsfragestellung zu ermöglichen. Zudem gewärleistet das Datenwarehouse eine verbesserte Datenqualität sowie  eine zuverlässige Datenkonsistenz und Sicherheit.

Das hier erzeugte Datawarehouse wird nach einem Star-schema konstruiert. Yunächst werden alle benötigten DWH Tabellen erzeugt. Dann werden die Dimensionstabellen und dann die Faktentabelle mit Daten aus den Stagingtabellen der Anticovis Datenbank nach einem ETL Prozess und Pseudonymisierung der sensiblen Daten befüllt. 


---
## benötigte python Module werden geladen

In [33]:
import sqlite3
from sqlite3 import Error
import pandas
from pandas import DataFrame
import numpy as np
!pip install pandasql
from pandasql import sqldf
import random
import string

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandasql in /usr/local/lib/python3.8/dist-packages (0.7.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.8/dist-packages (from pandasql) (1.4.46)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pandasql) (2022.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from sqlalchemy->pandasql) (2.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)

##Angaben zur systemumgebung und den verweendeten python Module

In [34]:
# Python-Version
print("Python-Version:")
!python --version

# sqlite3-Version
print("\n" + "sqlite3-Version:")
sqlite3.sqlite_version

# Pandas-Version
print("\n" + "Pandas-Version:")
print(pandas.__version__)

# numpy-Version
print("\n" + "numpy-Version:")
print(np. __version__)

Python-Version:
Python 3.8.10

sqlite3-Version:

Pandas-Version:
1.3.5

numpy-Version:
1.21.6

#Vorbereitung
Montieren des google Drive

Festlegen des Pfads zur Anticovis Quelldatenbank.

Festlegen des Pfads zum Ablageort des in diesem Skript erzeugten DWH.

In [35]:
from google.colab import drive
drive.mount('/content/drive')

# path of Anticovis quelldatenbank
DB_SOURCE_PATH = f"/content/drive/Shareddrives/DMA_2023_D/DMA2023TeamB/source_dbs/Source_covid19_Staging.db"

# path of datawarehouse
DB_DWH_PATH = f"/content/drive/Shareddrives/DMA_2023_D/DMA2023TeamB/source_dbs/DWH_covid19.db"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Erzeugung des DWH

---



##Definition eines DWH ObjeKt welsches die benötigten DWH Tabellen enthält

In [36]:
class DB(object):
  def __init__(self, db_file):
    self.conn = sqlite3.connect(db_file)
    self.cur = self.conn.cursor()
    self.__init_db()
  
  def __del__(self):
      self.conn.commit()
      self.conn.close()

  def __init_db(self):
## sql queries to create tables in Datawarehouse 

#  sql query to create d_conditions table
    create_d_conditions = """CREATE TABLE IF NOT EXISTS d_conditions (
                           CONDITIONS_CODE STRING PRIMARY KEY,
                           CONDITIONS_DESCRIPTION STRING
                       );"""

#  sql query to create d_devices table
    create_d_devices = """CREATE TABLE IF NOT EXISTS d_devices (
                            DEVICES_CODE STRING PRIMARY KEY,
                            DEVICES_DESCRIPTION STRING
                           );"""

#  sql query to create d_medications table
    create_d_medications = """CREATE TABLE IF NOT EXISTS d_medications (
                            MEDICATIONS_CODE STRING PRIMARY KEY,
                            MEDICATIONS_DESCRIPTION STRING
                           );"""

#  sql query to create d_procedures table
    create_d_procedures = """CREATE TABLE IF NOT EXISTS d_procedures (
                            PROCEDURES_CODE STRING PRIMARY KEY,
                            PROCEDURES_DESCRIPTION STRING
                           );"""

#  sql query to create d_patients table
    create_d_patients = """CREATE TABLE IF NOT EXISTS d_patients (
                            PATIENTS_ID STRING PRIMARY KEY,
                            PATIENTS_BIRTHDATE DATE,
                            PATIENTS_DEATHDATE DATE,
                            PATIENTS_GENDER STRING
                           );""" 

# sql query to create F_ANTICOVIS table
    create_F_ANTICOVIS = """CREATE TABLE IF NOT EXISTS F_ANTICOVIS (
                           PATIENTS_ID STRING,
                           CONDITIONS_CODE STRING,
                           PROCEDURES_CODE STRING,
                           DEVICES_CODE STRING,
                           MEDICATIONS_CODE STRING,
                           MEDICATION_GRADING INT DEFAULT '0', 
                           COURSE_OF_DESEASE INT DEDAULT '0',
                           FOREIGN KEY (PATIENTS_ID)
                              REFERENCES d_patients (PATIENTS_ID),
                           FOREIGN KEY (CONDITIONS_CODE)
                              REFERENCES d_conditions (CONDITIONS_CODE),
                           FOREIGN KEY (PROCEDURES_CODE)
                              REFERENCES d_procedures (PROCEDURES_CODE),
                           FOREIGN KEY (DEVICES_CODE)
                              REFERENCES d_devices(DEVICES_CODE),
                           FOREIGN KEY (MEDICATIONS_CODE)
                              REFERENCES d_medications (MEDICATIONS_CODE)
                       );"""
    create_tables =  [create_d_conditions,# conditions dimension
                      create_d_devices,# devices dimension
                      create_d_medications,# medications dimension
                      create_d_procedures, # procedures dimension
                      create_d_patients, #patients dimension
                      create_F_ANTICOVIS #Factstable
                      ]

    if self.conn is not None:
      for query in create_tables:
          self.cur.execute(query)
    else:
      print('Connection to database failed')

## Definition der für den ETL prozess benötigten Funktionen

In [37]:
# exporting queries
class SqlQuery:
  def __init__(self, source_table, column_names, sink_table):
    self.source_table = source_table
    self.column_numbers = len(column_names)
    self.column_names = ', '.join(column_names)
    self.sink_table = sink_table

  def extract_query(self):
    return 'SELECT ' + self.column_names + ' FROM ' + self.source_table 

  def load_query(self):
    values_str = '?,' * self.column_numbers
    values_str = values_str[:-1]
    return 'INSERT OR REPLACE INTO ' + self.sink_table + ' VALUES (' + values_str + ')'

    # return 'INSERT INTO ' + self.sink_table + '(' + self.column_names + ') VALUES (' + values_str + ')'

In [38]:
def etl(query, source_cnx, target_cnx):
  # extract data from source db
  source_cursor = source_cnx.cursor()
  source_cursor.execute(query.extract_query())
  data = source_cursor.fetchall()
  source_cursor.close()

  # load data into warehouse db
  if data:
    target_cursor = target_cnx.cursor()
    target_cursor.executemany(query.load_query(), data)
    print('data loaded to warehouse db') 
    target_cnx.commit()
    target_cursor.close()
  else:
    print('data is empty')


def etl_process(queries, target_cnx, db_source):
  """
  queries: list
        a list of queries
  target_cnx: SQLite connection
  db_source: str
        path of source database      
  
  """  
  # establish source db connection
  try:
    source_cnx = sqlite3.connect(db_source)
  except Error as err:
    print(err)
  
  # loop through sql queries
  for query in etl_queue:
    etl(query, source_cnx, target_cnx)
    
  # close the source db connection
  source_cnx.close()

## Erzeugen des DWH

In [39]:
# create Datawarehouse
dwh_db = DB(DB_DWH_PATH)

#TEST

In [40]:
# # check list of tables
target_cnx = dwh_db.conn
dwh_cursor = target_cnx.cursor()
dwh_cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
#dwh_cursor.execute('PRAGMA table_info(' + "F_ANTICOVIS" + ');')
print(dwh_cursor.fetchall())

[('d_conditions',), ('d_devices',), ('d_medications',), ('d_procedures',), ('d_patients',), ('F_ANTICOVIS',)]

#ETL prozess

In [41]:
print('starting etl')   
# list for iteration
etl_queue = []

# d_conditions table
conditions_columns = ['CONDITIONS_CODE', 'CONDITIONS_DESCRIPTION']
sql_query_conditions = SqlQuery("S_CONDITIONS", conditions_columns, "d_conditions")
etl_queue.append(sql_query_conditions)

# d_devices table
devices_columns = ['DEVICES_CODE', 'DEVICES_DESCRIPTION']
sql_query_devices = SqlQuery("S_DEVICES", devices_columns, "d_devices")
etl_queue.append(sql_query_devices)

# d_medications table
medications_columns = ['MEDICATIONS_CODE','MEDICATIONS_DESCRIPTION']
sql_query_medications = SqlQuery("S_MEDICATIONS", medications_columns, "d_medications")
etl_queue.append(sql_query_medications)

# d_procedures table
procedures_columns = ['PROCEDURES_CODE', 'PROCEDURES_DESCRIPTION']
sql_query_procedures = SqlQuery("S_PROCEDURES", procedures_columns, "d_procedures")
etl_queue.append(sql_query_procedures)


# d_patients table
patients_columns = ['PATIENTS_ID', 'PATIENTS_BIRTHDATE', 'PATIENTS_DEATHDATE', 'PATIENTS_GENDER']
sql_query_patients = SqlQuery("S_PATIENTS", patients_columns, "d_patients")
etl_queue.append(sql_query_patients)


# list for iteration
# etl_queue

Exception ignored in: <function DB.__del__ at 0x7facd47ea8b0>
Traceback (most recent call last):
  File "<ipython-input-4-6bcd47455d51>", line 8, in __del__
sqlite3.ProgrammingError: SQLite objects created in a thread can only be used in that same thread. The object was created in thread id 140380955817792 and this is thread id 140380284606208.

starting etl

##Befüllend der 'd' Dimensionstabellen

In [42]:
# establish connection for target database 
target_cnx = dwh_db.conn
etl_process(etl_queue, target_cnx, DB_SOURCE_PATH)

data loaded to warehouse db
data loaded to warehouse db
data loaded to warehouse db
data loaded to warehouse db
data loaded to warehouse db

## Erzeugen eines Dataframes für das befüllen der ANTICOVIS 'F' Faktentabelle

In [43]:
# selecting relevant data for Staging DB as a Facts_Table DataFrame
connctino_to_Staging_DB = sqlite3.connect(DB_SOURCE_PATH)
conn = connctino_to_Staging_DB
Staging_DB_Cursor = conn.cursor()

Staging_DB_Cursor.execute (""" SELECT SSS_patients.patients_ID,
                                      SSS_conditions.conditions_code, 
                                      SSS_procedures.procedures_code, 
                                      SSS_devices.devices_code, 
                                      SSS_medications.medications_code 
                               
                               FROM SSS_PATIENTS 
                                    LEFT JOIN SSS_CONDITIONS 
                                           ON SSS_patients.patients_ID = SSS_conditions.conditions_patient_ID
                                    LEFT JOIN SSS_PROCEDURES 
                                           ON SSS_patients.patients_ID = SSS_procedures.procedures_patient_ID
                                    LEFT JOIN SSS_DEVICES 
                                           ON SSS_patients.patients_ID = SSS_devices.devices_patient_ID
                                    LEFT JOIN SSS_MEDICATIONS
                                           ON SSS_patients.patients_ID = SSS_medications.medications_patient_ID
                                  """)
DF_of_Facts_Table = DataFrame(Staging_DB_Cursor.fetchall())

# renaming culums in Dataframe
DF_of_Facts_Table.columns =['patients_ID', 'conditions_code','procedures_code', 'devices_code', 'medications_code']
# remooving duplicates from Dataframe
DF_of_Facts_Table.drop_duplicates()
conn.close()

# creating new table columns for medication_grading and course_of_desease grading
DF_of_Facts_Table ['medication_grading'] = '0'
DF_of_Facts_Table ['course_of_Desease'] = '0'
# Replacing NaN
DF_of_Facts_Table = DF_of_Facts_Table.fillna(0)


# defininf and implemening course_of_desease classes

grades_mapping = {
386661006: 1,
25064002:	1,
36955009:	1,
267102003: 1,
261352009: 1,
43724002:	2,
49727002:	2,
267060006: 2,
84229001:	2,
57676002:	2,
68962001:	2,
68235000:	2,
422587007: 2,
249497008: 2,
234466008: 3,
132281000119108: 3,
267036007: 3,
233604007: 3,
56018004:	3,
371908008: 3,
706870000: 4,
66857006:	4,
389087006: 4,
86175003:	4,
40095003:	4,
271825005: 4,
112798008: 4,
433112001: 4,
431182000: 4,
67782005:	5,
65710008:	5,
84114007:	5,
770349000: 5,
76571007:	5,
36965003:	5,
449071006: 5,
26763009:	5,
180325003: 5,
302497006: 5,

}

# Loop through all rows
for i, row in DF_of_Facts_Table.iterrows():
    max_grade = []    
    # Check if any of the codes in the 'conditions_code' column is present in the grades_mapping
    if row['conditions_code'] in grades_mapping:
        max_grade.append(grades_mapping[row['conditions_code']])
    # Check if any of the codes in the 'procedures_code' column is present in the grades_mapping
    if row['procedures_code'] in grades_mapping:
        max_grade.append(grades_mapping[row['procedures_code']])
    # Check if any of the codes in the 'devices_code' column is present in the grades_mapping
    if row['devices_code'] in grades_mapping:
        max_grade.append(grades_mapping[row['devices_code']])
    if len(max_grade) != 0:
        DF_of_Facts_Table.at[i, 'course_of_Desease'] = max(max_grade)
    else:
        DF_of_Facts_Table.at[i, 'course_of_Desease'] = 0

DF_of_Facts_Table.head(5)

,patients_ID,conditions_code,procedures_code,devices_code,medications_code,medication_grading,course_of_Desease
0,2f114e21-8b95-e9eb-2e9e-4b950b059cfa,36955009.0,261352009.0,0.0,0.0,0,1
1,2f114e21-8b95-e9eb-2e9e-4b950b059cfa,386661006.0,261352009.0,0.0,0.0,0,1
2,2f114e21-8b95-e9eb-2e9e-4b950b059cfa,840539006.0,261352009.0,0.0,0.0,0,1
3,2f114e21-8b95-e9eb-2e9e-4b950b059cfa,840544004.0,261352009.0,0.0,0.0,0,1
4,2812f4fc-6aba-0033-728b-7e569bb8adcc,36955009.0,180325003.0,0.0,197604.0,0,5

In [44]:
# defining and implementing medication_grading.

medication_grading = {
854235:1,
854252:1,
854228:1,
309362:2,
855332:3,
}

# Loop through all rows
for i, row in DF_of_Facts_Table.iterrows():   
    # Check if any of the codes in the 'conditions_code' column is present in the grades_mapping
    if row['medications_code'] in medication_grading:
        DF_of_Facts_Table.at[i, 'medication_grading'] = medication_grading[row['medications_code']]

In [45]:
DF_of_Facts_Table.head(5)

,patients_ID,conditions_code,procedures_code,devices_code,medications_code,medication_grading,course_of_Desease
0,2f114e21-8b95-e9eb-2e9e-4b950b059cfa,36955009.0,261352009.0,0.0,0.0,0,1
1,2f114e21-8b95-e9eb-2e9e-4b950b059cfa,386661006.0,261352009.0,0.0,0.0,0,1
2,2f114e21-8b95-e9eb-2e9e-4b950b059cfa,840539006.0,261352009.0,0.0,0.0,0,1
3,2f114e21-8b95-e9eb-2e9e-4b950b059cfa,840544004.0,261352009.0,0.0,0.0,0,1
4,2812f4fc-6aba-0033-728b-7e569bb8adcc,36955009.0,180325003.0,0.0,197604.0,0,5

##Pseudonymisieren der Pateinten ID und ablage der Pseudonyn Tabelle als csv.datei

In [46]:
def check_random_string(random_string, random_strings):
  if random_string in random_strings:
    return "doubble"
  else:
    return "ok"

pseudonym_tabelle = sqldf("""SELECT DISTINCT patients_id FROM DF_of_Facts_Table""")
pseudonym_tabelle['pseudonym'] = ''
random_strings = []

def pseudonym_generator():
  random_string = ''.join(random.choices(string.ascii_lowercase, k=10))
  check = check_random_string(random_string, random_strings)
  if check == 'ok':
    random_strings.append(random_string)
    pseudonym_tabelle.at[i, 'pseudonym'] = random_string
  else:
    pseudonym_generator()


if len(random_strings)== 0:
  for i,row in pseudonym_tabelle.iterrows():
    pseudonym_generator()

print(random_strings)
pseudonym_tabelle.to_csv("/content/drive/Shareddrives/DMA_2023_D/DMA2023TeamB/Quelldaten/covid19/pseudonym_tabelle.csv")

['mqscbrebda', 'doweuewifm', 'whixippdom', 'hihiaqpouw', 'vxzopnhdkw', 'uhopvybpoy', 'rmolshrqzq', 'mueqyyztfe', 'rctvvoieyc', 'tjqrysjisy', 'qguwpbbzww', 'wyproalxvs', 'sejlnhgaem', 'zxdxgxrijk', 'exisjdiwxi', 'zsssbsqkfs', 'yxfqidnxbf', 'wqpobpanvb', 'cryflepveu', 'rxssvckgkf', 'okgukhcrlt', 'wegrsbvkgj', 'eihasktovo', 'sulwrbayko', 'ecvxynlgxq', 'vgqmhywypz', 'tlpkbmszfl', 'jxqsojunbl', 'fqewzceavq', 'adwfgeyvfn', 'jaeybshene', 'issgokmgqb', 'btumtbdzil', 'xsukhxgear', 'wvtichehnq', 'cjzyozhcyx', 'evyqysomxv', 'ovjwjrvvpz', 'zdxtrjtptp', 'tfkqvjpopa', 'plyilxyvwq', 'zclchuqcvo', 'hxuyyzzhcz', 'njwgaeccfb', 'cudkqyxeyp', 'bgoqcqrcfh', 'tjemfbrleq', 'ifrhjatrtp', 'alprysuxjt', 'wzxtqtbnec', 'wyflypfhzh', 'jtpkqkgqiu', 'rptqssyrmz', 'mvmneoylqw', 'kkamgrjlfw', 'fxqwiwpean', 'tonngvloll', 'owamyafars', 'acqxvnjtra', 'pkhqalftqg', 'ppgopkfwge', 'kvxeamksys', 'fbfgbjhgpl', 'ngoefgzyls', 'qxfzctindo', 'qzfyzctqle', 'jwfbasgkvm', 'pgfkzyrrtp', 'zwsdptcpvd', 'xsauwbgewd', 'wgjhjpcfev', 'relnvwulhc', 'jdjhnfhhqf', 'zqfbdgfmri', 'bzruxppftk', 'tkinzreenl', 'frecllcubw', 'myfkrhcxtx', 'ciwipnqeuy', 'znmhwmjojn', 'aokzpbqmnj', 'wqdfwsqiho', 'suehtbntje', 'nmoxdlitet', 'hcdgiuyaul', 'qwblvzdywg', 'erfrbvaoov', 'mjzliyxpdx', 'ftadwhvyzq', 'gjwmdponei', 'elgqpehohg', 'xchvygckep', 'zgvdubcasi', 'zbaqzvckcg', 'oeqzajgqsd', 'tkvdtzqwpz', 'shegzuuspg', 'wyfeblwuxd', 'oxgjbzcdol', 'styxspazib', 'czigefaniv', 'ndshtfvadk', 'gjrwgdmcsj', 'xomaqbwcec', 'gfamgqermq', 'sgbzpmkzcg', 'bwenbkydnn', 'igcnyfdasm', 'ipucrtjyaw', 'ifowyzgpcw', 'txkrehlvwg', 'spgogneoxe', 'ggzfihifgm', 'vjjqeapjbm', 'yprgmqdcnm', 'atuqxplxei', 'bulmcabnph', 'xhcylpgwgq', 'zeykyhljvs', 'fygdksysko', 'muodyonscg', 'islmhwjfav', 'iscdoycvnx', 'sahjkxnxei', 'bqwgxzmvls', 'uiivjwwncn', 'ypvqyjzfyb', 'wdpqumykfl', 'eoyhoocnsq', 'oqlcltocnt', 'txopeyvjtx', 'jmokiinpxh', 'inxsxcoqow', 'acuxjusewi', 'frmcpcwowp', 'qgbycfjjwh', 'ifjluqhtos', 'rmwbpmylrc', 'dmufwbgibv', 'ltoprhpxvj', 'jdfqcuejge', 'wqcdoorpnc', 'nmeqnlznsa', 'ltqyktaafz', 'yxijkazvhy', 'jvrhqmnxtk', 'uqymmcqlev', 'snkrcijzte', 'vtftcksedz', 'szowpyzfua', 'onncmmrkfl', 'cyaotsrdqk', 'squvvxcstf', 'okgudtqayx', 'ggwsfdfowp', 'cuiqcpkjwy', 'eoaqvwtjvj', 'hbhjzcnijr', 'tnvqkljxci', 'sflhxgdrgs', 'zdqzusgfyi', 'efjfvrifem', 'tphvvtmkhk', 'pirmowqytv', 'miaqdxiwkk', 'bewirxngsp', 'qezlomwodb', 'doucosuxil', 'mvucuhvtil', 'khesfuatvj', 'mmmtfsevqk', 'povlbaolhb', 'yseathvtnv', 'fgunvceqcy', 'udbyxxoiuq', 'rbxbmzvqaz', 'vlduqvjuzr', 'xfcaixuoiu', 'qpdybuadxl', 'knjogqkyop', 'tkobwnkodq', 'uowvebaxix', 'cssunmixwu', 'lcjifynvnw', 'aibijjvleg', 'zalcrnxzla', 'tueitmrqfm', 'mpbobqmszp', 'urxnilxkux', 'zuyqdmkblt', 'xpzmqeboai', 'ydkpncqihq', 'dviqmjbstz', 'ojhadolshh', 'rujkjaqqva', 'hvzaabpdtv', 'tztdazlhub', 'jjommsuaeo', 'dwpxqpvkxi', 'pgezhajvgl', 'eznsqemyxw', 'mtejzkuyra', 'twgnurejfa', 'qolxmbjuxm', 'mkzrefdkbi', 'fnwjattyan', 'xfaqabvolw', 'gpizrzuoxl', 'prrxhpfdku', 'ejaavcvajl', 'miliqdvxku', 'ppdjxfmumm', 'znhgmpaxoh', 'oqdzwbwxhm', 'edvovmeygz', 'ovmyqdoicn', 'evegntmxgk', 'fqtaxlibfq', 'mrfbojwxlj', 'njufxhssxc', 'kixydjoawh', 'nvosjzlmdt', 'vyhyxlcimh', 'vzlajsgyaq', 'ltxpsdiydl', 'factsvdzoa', 'nwxyuxzjiu', 'vlfeeigzeh', 'qpqxvsxqpt', 'ltjapiwtss', 'fhpeacelir', 'vvqbrjacty', 'mthvrhgwaq', 'hyhykrgxhy', 'ccjeaetxua', 'zdcypakctp', 'vxzbkfpeae', 'rhmrcimyfp', 'rwqdvldrci', 'ztmdeuzzcs', 'omlmskyjeh', 'ltkearpkju', 'pnvmwwefop', 'xwplcfgsaz', 'rxnvevjmxr', 'zkzjwdabki', 'afultjvdss', 'gwqtjlwxgu', 'usngkzdwko', 'dwotwzodac', 'wixwqtvucj', 'cytxojngat', 'ptjtigosdk', 'ymyikuaiua', 'lzygxsytvv', 'oqrpruoeih', 'pkootknsst', 'vjhzqbuwvq', 'odweyalgmj', 'qlxjfqdchy', 'pevaamfbda', 'hvwiaymbni', 'lqcotqmwua', 'jpqbhqjcqu', 'tmyvbotofi', 'vjluvvvlvj', 'ipbagtvwvy', 'nrvcfjmvew', 'sczpbucqoo', 'hvjlxnqsej', 'jheyhkbtcc', 'ehnijdbzmk', 'tsllknaaqx', 'njhzwksdfh', 'hdgygwprxb', 'ssuqxkmgbw', 'jckazdvovd', 'suxxxnsgrg', 'guhyybgpiw', 'jyrnlfvsbo', 'tmijuxopjf', 'ieykjwoyqj', 'cqniekawzs', 'vswxpglury', 'siqxmypqbw', 'vqlmnohbcc', 'fkoogybnnj', 'xdajgshlyi', 'cgnyjqnnff', 'qhkvfjkulj', 'skckiakdjf', 'kfzsoyaqxq', 'wistxzssrj', 'pajyugckmp', 'ngoigaumsg', 'gphlckndrz', 'vehnefrwwa', 'hcklhxkley', 'brmdmccsxk', 'cokldhhpag', 'peownzbqld', 'vzknarjpho', 'ivwwldyroc', 'alvmibgliq', 'jnzqpeqxtk', 'qqsoentpio', 'cjbogatphf', 'mepocqklyk', 'ndmfzotjyj', 'xlrzajbcpd', 'cafejrqflf', 'jbwdokjlpv', 'oqwkhscrqx', 'nmrwatrpaa', 'xgacsjhccx', 'eromnyhtfe', 'xzdakpuvdg', 'jceyadovwn', 'ssnukaersa', 'mvjpymseai', 'afjyipsxpz', 'cwwlopfcqe', 'hajevyjzps', 'xpgujngejv', 'wnnjnzcrgq', 'ijenuooamt', 'vzrhtbfzau', 'abhvnhrgap', 'limfdqpnon', 'ccjkbruldn', 'ymesdxkauo', 'asuudyygys', 'sgehykdhhr', 'mwerrmftsb', 'izrayzwupu', 'lbfzspzhsj', 'gqkvumypxc', 'gyktwsnzms', 'aamzjtgwuh', 'pslvtnpbhm', 'htdaagvydq', 'zcgnugpctk', 'ekyeqgeilt', 'vydlvzhujv', 'vfkhtywlxb', 'qhyalhjygv', 'jyaebougyf', 'jhblnwimoq', 'wsxvvrhetw', 'ngjrmrlxnp', 'axetylocqj', 'nemjrqysor', 'lkmhktvkdn', 'qbjellqhfw', 'ijgxxhcjca', 'npbuhaagpy', 'bwdrbufffp', 'gcgyqmngly', 'ocujzxpxuh', 'zhpqflradl', 'pukcpopflg', 'cdzvfxlesm', 'etlggzqeif', 'xeozushgmi', 'tbimwgjzvw', 'bulqzcqjnt', 'eynlunueyw', 'vglfahohjf', 'dsjfrxmxcg', 'ijxjekkpfb', 'onrbunfmsb', 'wzlkognyav', 'ilvamxvohs', 'bjercprult', 'nkapepvkut', 'wjqojcfccs', 'gurucxzmag', 'imtxvubdll', 'btjxxlpcih', 'eltyswaoai', 'kketqtiuml', 'upparrougn', 'pnxnydekty', 'sbykztleqo', 'tsnkdoeapa', 'pezlvecght', 'ubuzpcycbg', 'jafntgehpx', 'rbgwlngmxf', 'dwvxkefmdd', 'hbmsfmdjrr', 'otpnqyicse', 'zycjlnjami', 'zxlrdthkcc', 'ohsnqywetj', 'uqdwlynnkj', 'jzrxpqbszi', 'fgtfgaritf', 'iupyuublrw', 'hvctlncdpw', 'rahwopwetj', 'chbcvpugrb', 'tplmczzotw', 'iybgzteagr', 'aymbgdwnyy', 'utzrrqdoma', 'fvvmkxiozs', 'bzoxffbkce', 'rpzveeyjdb', 'qqtobvtely', 'lofgjxyfui', 'qmordaduhy', 'mrnwsayzdp', 'xlpwmezprf', 'yqmhcdbujt', 'juhjpeskeg', 'lgjbxvstkq', 'rlzjuwlqwk', 'xcxgkhuxsj', 'gjitxrcsmt', 'cttjkdymzk', 'fwtkzgijzk', 'wmxsoreegr', 'bbitouvjob', 'uvuvwxciek', 'ihoqyyslet', 'fhjqrzasns', 'wpjqrvdfro', 'jtorbofjgj', 'kuycucijtf', 'rachcsbxwg', 'pzvmxlrpbz', 'jafowyzbdc', 'qrollogpur', 'omwqythztw', 'fmpkxqnfwk', 'lvdavuroud', 'ziulredzwe', 'vcuaufxfvi', 'yiscvcdysl', 'tlympkvjkf', 'tsxcgqvfkc', 'rjmzciudgn', 'hgkbzzjuac', 'loausyjyjo', 'odjabjucij', 'kqbpfkcfqx', 'zniwdqnmod', 'snxksmgsoy', 'hmzsyqwmdq', 'cwmvhyxxib', 'mdjwfvgyqb', 'dskmoulktb', 'lgidpvygzq', 'grvcgcziuy', 'hixpyegkwn', 'dycbnkjcic', 'gvxkpuoaqg', 'tsgcisomyr', 'adjfklsgzv', 'hrffwhftqh', 'btydszrtox', 'lspjpcenfs', 'kaqzczkwmm', 'hfaftpbudy', 'wwibiqgmll', 'yzevrnxecr', 'hpsjddbstm', 'jssgclbkml', 'egvjzizhgz', 'qrgaaynwmc', 'sylnhbiida', 'daihvgxmsl', 'dbghevnvle', 'snypetmnpo', 'mbocixpysh', 'vfqfpeqlbx', 'ksvklsrknc', 'mldexouotl', 'ttqypucfgn', 'fziutzjykl', 'mcuibcjyri', 'hmyoesyojh', 'raaumxwsvm', 'dazdmuhmuj', 'mjqdtwzsml', 'vuhofkebka', 'mkkgztdhez', 'fjkzcaepwr', 'cpuysxzbeg', 'pqalyshzkl', 'lobxgkvmly', 'wvacxxdtkc', 'ajjzzrzska', 'yejkyvjctm', 'xwpambylfa', 'xagedhzcuy', 'crivumvdew', 'zneajbvubr', 'csmkqfgknw', 'snwzkrbzsj', 'ulrxudfcfh', 'dqoucxyope', 'wixuujewbs', 'idyzyuxbnp', 'isicuuptvu', 'fmmnysysfi', 'aobvnfsjkr', 'psbmxoladd', 'dgdfudtygx', 'sikwsxepcv', 'vkvlokziet', 'goujwzlvsi', 'abwmicseto', 'kesxibwzgo', 'hdvkmzvlvb', 'pavwbkwfaf', 'ytqdcogpbs', 'mgkoemkeis', 'axtwecnczh', 'bwpejqketc', 'ddfawlwslf', 'ffbhzdgfev', 'zvhldsbtcu', 'epxdsbteee', 'itjvlrlzfh', 'xzqhrveftu', 'vsnpqztjnp', 'kztnwteneg', 'cccnkztssm', 'aycqtvsxca', 'ugmpamahbk', 'dgzdxfsckm', 'bsyrwxweoi', 'nalpfqswwc', 'zdnfnlyysv', 'vqonpanwhn', 'refwltcfnb', 'cmjtrgffls', 'cdzfpgwywb', 'bwajvdafbk', 'rbdttszvsr', 'hctgxngnkx', 'mvkkkexedv', 'zagpvcbuzy', 'iiccufwvep', 'ngczwmmifo', 'stqbwjpicv', 'pqrlmavcnh', 'nwrmfekuqa', 'kmspefbodo', 'civojknpbo', 'syrwyncbzf', 'wmfrmcojqd', 'dgouvedvor', 'kyuaruohky', 'ieckmylrwm', 'kykatyabbp', 'obohwrlbtp', 'qxwuvnmxet', 'nzefcpjvza', 'uadkykkrsx', 'qgwjnjsoxg', 'rvjvsgntnv', 'rnatcbtklo', 'eymkmkxbie', 'kxebiijnak', 'qaegtygytv', 'jjwlepjqpc', 'gbshphfuws', 'ajpfrszeas', 'oghkfgdsez', 'ccmqulsyxs', 'etzucgzvcb', 'lwnrxfowqx', 'nndowavxza', 'rojkhylqvy', 'ulbgvrraxu', 'dayjtweaaw', 'rlqqbzgeki', 'zoxuprqvmw', 'vqzspsloxs', 'ighqqmzgnw', 'gcyyqblvgs', 'eizxoftfpa', 'gljirijraa', 'ncjztricki', 'hybayjuiux', 'blmrzamaag', 'peuwidaaul', 'vbxebpzebx', 'qedtpjlmpb', 'ldiopedybe', 'uvwzqbbmjv', 'yskmhtffuq', 'yzneddwyzc', 'caawdyrcry', 'spvaybvlrh', 'accxcwacbf', 'tyfgzlfyxz', 'zzwqfwmluo', 'jccpithurs', 'kbaskxylsi', 'gqpqnhrgad', 'heddviujlr', 'pvlbqbvxkz', 'khcayuywpm', 'chvzieyunc', 'shpojatucd', 'iaepjvabke', 'knmirnkikl', 'aqmdamyesb', 'pfnhhxcjke', 'yrjuxqblhh', 'psmxroddcf', 'mhimebzzhc', 'vpswqttvhk', 'predbstyyo', 'tldncnizgm', 'isvhfthiwb', 'igmjyzkiqf', 'mwztjxqrln', 'qoavkbwqlj', 'fdtdziegcu', 'ccjhoqptmp', 'kddeksgycq', 'aqpbhngmca', 'yizebutvec', 'durzlbiuew', 'ieimrxuxti', 'axveylqhvx', 'zdhjzykaze', 'mfbvrgcyma', 'oowyhszqbf', 'mjecwssqsf', 'yjngzezpwg', 'sflxqslrvi', 'wrucmxactk', 'egyjalgcch', 'wgteyklyzj', 'mfuhgeehnb', 'hjknbnhtgd', 'plflytkzps', 'owbxvusmww', 'wjunwsjvhj', 'jfluquxkkc', 'rjypxkeuee', 'queslqhlis', 'fkjwlggcnj', 'hbcfhxfrdz', 'ueyackgujq', 'svgjmyxfqk', 'ouqnllrwpe', 'zhhtjyjokv', 'htbezfmtnu', 'gguhcxwbay', 'owcsnihnlo', 'fefazdgwck', 'mpbnafrleo', 'sqqneadvbd', 'urwvybsqql', 'fpohknlucf', 'eoayyrbuqw', 'boarqggslr', 'wmweelgtgd', 'rfjtwkkvhk', 'zunbtjsfye', 'ymhngfiygq', 'irdnooqnga', 'fnwsormnaf', 'pzffhgyvrt', 'wfktnwzzod', 'lqqcnitvak', 'nucspowswg', 'crnawamtwq', 'ttdwekhiyz', 'wkbdvdggqw', 'gkhrjmhczu', 'jotnxwcepd', 'pwuieaniez', 'qlatrmgmrw', 'swecttzhvh', 'zvkcbvpgiq', 'dwxrlarclx', 'rgywffqgul', 'tkojppokop', 'szuvfubltz', 'mgrjsousgk', 'ryhdxszzta', 'otecwvpkzp', 'jhivlmiots', 'yisspmbwhw', 'pizyjxnqoy', 'fcctrgcsoj', 'lnebkvolsg', 'vtnzfwmpln', 'mbphhzpgjy', 'dutjbwxhft', 'rmcnlavyei', 'cuvstdtqop', 'zhhxnuapfg', 'rzzylubqri', 'tpneeslrtp', 'affhuskqku', 'xrkfxfvedd', 'iiytecvjdl', 'lcvxvpepou', 'epiieleneg', 'pgajvblafy', 'gqvdifulow', 'nckkinvgdw', 'ifiomcynzt', 'pzoelwjzqw', 'warbszdqjb', 'mjepsmbyve', 'gnxuhyjsdi', 'tfknmfrjmm', 'kqvbuewxvz', 'nnkhuwbrle', 'vputgofpef', 'rgwpnqylqk', 'kothdhkqkp', 'iwnsznezfc', 'yjmimqcqfn', 'ipvudglwmr', 'uovyuuitwe', 'zdahsziqkq', 'aqcmayyznv', 'hdlfexcohc', 'smnznonpou', 'wbjunjtqco', 'vkljqlumjj', 'bmvymwdurn', 'ymyzyvwbwf', 'cdltwpqpkm', 'cxnffzlmot', 'nkyvdzawql', 'uzygxbhsjj', 'bobcbmotik', 'rhcipxtdno', 'uuolhffbks', 'imnkuffsyf', 'vevaydoena', 'agyiurqucy', 'etkbvdzaqa', 'plhihuzglz', 'jdxuvedfqr', 'ynhttfgomj', 'ukorxtcjxe', 'tvvwtffkwo', 'yrkwqpuqgk', 'abbsuoratu', 'mxdvoiuoty', 'stfvyswdqt', 'ldjlsgthce', 'meenbwdmep', 'tmmsrxbwdp', 'zvodbqsngo', 'malrghytmp', 'idobtnqqhd', 'bytblkzpha', 'irizduhjxk', 'dawkpfektp', 'gvuhslcukl', 'lffnzffbig', 'uuxzgxzgtw', 'emmjsldnvk', 'njfxqgxfix', 'uesqfblhjh', 'dpaujvyizo', 'mmsaceqeyq', 'kkigzaadnx', 'peugtyckkd', 'vnwobwhgum', 'rrsvaxqqan', 'urkbdedvjs', 'gswywcrwwd', 'fuaizxymfn', 'thhtofhhsj', 'gdqgflrmxh', 'exbevtbuag', 'euhomourmt', 'bhqmmvphei', 'vzzxukykno', 'fxbwttkbye', 'vtzsvfhoio', 'ltbnwymyat', 'yllictcbxi', 'avfumetukn', 'rqjwzbqtfv', 'huhumfkrqx', 'omxgogblcj', 'borediobxi', 'duumuhxelb', 'eijdxbqida', 'lpaxwiwcqe', 'rqybxsrzug', 'hrxuelxabi', 'arsifqeqdg', 'uxuzjntgdl', 'xjeigxvzhe', 'kohwtrybkh', 'ktftjqhkwn', 'ynmfjqgqgq', 'vunowrvkcl', 'bezbmmdbbe', 'qfqcplurzk', 'iayephwhqf', 'eaxdaafxtn', 'jxwztgoohl', 'pwvdmnaoyh', 'rxdkorvlfe', 'dmyatzqljg', 'wivisxveig', 'fdgidpvlpy', 'jkaboogzfn', 'ivkcggyihe', 'hgcqddnudw', 'mwwmkawrhp', 'cbkvlukeij', 'spbprgmkwt', 'rmjtfsessz', 'ifjfyvwune', 'fdcfwfyyrg', 'ioodsxvpjv', 'ltruqywiru', 'odnrwqspdl', 'jhbpcnlwnh', 'hqynpurnur', 'lmjennlano', 'khvogzlgbe', 'uhwudkmysn', 'wvlaeeynvr', 'growpcoyde', 'kplczgqimh', 'dstwsldfpb', 'mrpjpxfngw', 'fmdxzbbfnu', 'qsachcizpg', 'pjxzbqbzkd', 'zvkjzvdypm', 'yzlcfpkqvz', 'usfpfruach', 'regzbbmqbc', 'duxnltofmj', 'jqkocmfxud', 'twuqmmuhgd', 'keerkjppli', 'cpvlcalrmc', 'pmtsmkaive', 'yxbkquftiu', 'awgykglqob', 'bardqoasra', 'ppfntijxoj', 'cvgvudwssx', 'bbhyfjsyge', 'azivhshwso', 'mvraxaubra', 'xkhkqsiuym', 'duokdivnmb', 'rieakfedgt', 'qjgwfuavsa', 'bdvlpunhbn', 'ajvfgqlhpw', 'amdnhnelkk', 'nwtswfpujq', 'hrlvhkdari', 'dnenicwqzy', 'edheuekogf', 'usjombonxe', 'ovldmivkpm', 'sjowcatqlg', 'qmaooeifjx', 'yocmvbivlz', 'kywumjurdl', 'lunxzttsoc', 'molhwrffom', 'qanbwuqtcg', 'iydojuzkjg', 'hmtuknjcte', 'bwoafffuhs', 'stvvinauft', 'vaxanzhhnr', 'tynorywwtj', 'lmgovkbeuj', 'wkmhakkdkv', 'upirrxtcxp', 'mcvnuqlwva', 'dycqfwtcgp', 'kjbvhutmfv', 'yjsjucgshq', 'wqytjdlxwm', 'tezixexruz', 'buvmetkmen', 'celjsaavwo', 'ogdeqtszss', 'fdbjuefcsa', 'ottyxzeisz', 'zqnelczbaf', 'wsensgxdcg', 'clcirxxlzc', 'rxcsbrzftn', 'iqbnkaoqlz', 'olsbwuaopa', 'mgkqkjackp', 'royssnaxqu', 'acgoaebstp', 'bdtoptohst', 'qlkxqsyudm', 'erffdnnooh', 'fxmsusctwa', 'llhcwcgoqx', 'kqvvugrday', 'ewrkvodagg', 'fgqtcrflef', 'dzgztlhzzh', 'vdagvfftwm', 'fephfhtygb', 'mwiqmkaavk', 'avngfothvz', 'vvbkpjgqkq', 'njfitfjceg', 'stfsmswupl', 'vhgbrsyjie', 'fxkfhbsdak', 'hthwzbjpat', 'wtnenhbvqe', 'zyzmvjhpue', 'kbytqaapzl', 'xhowsnsqfq', 'mqywvxvlwd', 'ymwlortetg', 'gqhcqsmzsl', 'efdlnvglzt', 'wabwlmfdju', 'blvyofsmqt', 'dxxsqrqkhb', 'ymovvssydp', 'ujokpcxnlx', 'femmmcekne', 'wvqtnhdrjj', 'fkxnfzblig', 'gduwhljvud', 'yxhlwfgbtg', 'hnxmwwdjfq', 'tsmkgkmsjg', 'hbuuhubjjs', 'inttliimrf', 'kzrbzbbihu', 'kakqmanzgg', 'aivddiiunk', 'gmaniyiivg', 'fjgmskhdyt', 'qyuvreufit', 'bddovblmcq', 'ymnbpjrhkk', 'opfwlnfhxe', 'zabyamdrmz', 'nkjjgsvdqr', 'dqwmgzouqx', 'ftmzbpbvkj', 'ihebuybfpx', 'doikynuhtz', 'zbuloenecu', 'bjasynzasl', 'ivakrhrjbr', 'jsrmnaxyod', 'jiylcekaoq', 'vnzuqusouc', 'imhbhaqyoc', 'nrjweyfuac', 'fhbbwvysns', 'nxzoioqdew', 'vcvtbltmeq', 'ljltukjgrf', 'aqqnzyubbj', 'oxmulmpbpf', 'jojcvujkus', 'dyecuijpun', 'rngvsszsdp', 'kiwaogyeus', 'pmowlorsuw', 'qvjnjmkncg', 'hahfrfwblk', 'ormbezwdut', 'rfowaiercn', 'ykmbyovrar', 'djzkgmqfqs', 'vmynsyvuun', 'ktksxyjmtb', 'agvqqzeust', 'myvoyioomr', 'wpoguvxxgi', 'mkrqfycwkh', 'zravmilcch', 'pqkpjhgzlc', 'ielhvlgpjq', 'lkgcfeclrh', 'hellacqzyx', 'yurhjuwaqu', 'limibyilbt', 'wfauxnqjpe', 'wjcdhnnocn', 'qvyrpreeiv', 'nuxtofvmmz', 'uuibvkjoer', 'cbhcscjpeh', 'mnxxxnuamu', 'wpjvtrqcjp', 'hvwuzdopdx', 'hysqgkaqhk', 'xpanfxquym', 'rierxypbhl', 'ophyjxljmp', 'stbqbzbabo', 'udfopuifce', 'qoblsfntpa', 'usxbaqqsot', 'jurkrmcjiz', 'gfyauevxgf', 'pfghrpsapy', 'dctqosshgb', 'nkmeymcely', 'wlqkxsgrky', 'picwvzavot', 'zqoxgscbbh', 'ctupyqiutb', 'tuprpuwlar', 'hzdsxbuzrv', 'srqldjsqra', 'jdgonjcoaz', 'mjmeblwhmi', 'ycctoziodl', 'foohclmzhh', 'bumbchssdx', 'qjwtdkdftn', 'zewjhmrzqg', 'ebsjyfaiwq', 'jyjckjuxyx', 'nbsdlsgdby', 'gpimjhdwje', 'xqerqhwlyl', 'ufglbpyomt', 'mndrnsayqd', 'ahsdaogqwg', 'xdmsgjxmco', 'gopyjokset', 'ocuwmrbasg', 'hghhoyitsq', 'csopnszjvc']

In [47]:
pseudonym_tabelle

                               patients_ID   pseudonym
0     2f114e21-8b95-e9eb-2e9e-4b950b059cfa  mqscbrebda
1     2812f4fc-6aba-0033-728b-7e569bb8adcc  doweuewifm
2     9b1a203a-6368-49a5-0c79-45c32729bc17  whixippdom
3     52a250a9-24e4-ec9b-91d6-c38cf1b10fc0  hihiaqpouw
4     ad5525c0-fdab-94dc-018f-d7209c72bdef  vxzopnhdkw
...                                    ...         ...
1045  edab2899-dac4-a19d-59e2-a9bea7b95cab  xdmsgjxmco
1046  d1065043-2a5f-2d0e-1dd0-cb7f31e6d340  gopyjokset
1047  4c523ab1-3255-911a-7eef-3bc3e48b7b05  ocuwmrbasg
1048  8d49cb05-b1c3-b8fe-dc75-e43ad861f074  hghhoyitsq
1049  fce5ed5c-e218-4839-a0c5-6ef906e5ae73  csopnszjvc

[1050 rows x 2 columns]

In [48]:
DF_of_Facts_Table_pseudonym=DF_of_Facts_Table.merge(pseudonym_tabelle, on= "patients_ID")
DF_of_Facts_Table_pseudonym.head(5)

,patients_ID,conditions_code,procedures_code,devices_code,medications_code,medication_grading,course_of_Desease,pseudonym
0,2f114e21-8b95-e9eb-2e9e-4b950b059cfa,36955009.0,261352009.0,0.0,0.0,0,1,mqscbrebda
1,2f114e21-8b95-e9eb-2e9e-4b950b059cfa,386661006.0,261352009.0,0.0,0.0,0,1,mqscbrebda
2,2f114e21-8b95-e9eb-2e9e-4b950b059cfa,840539006.0,261352009.0,0.0,0.0,0,1,mqscbrebda
3,2f114e21-8b95-e9eb-2e9e-4b950b059cfa,840544004.0,261352009.0,0.0,0.0,0,1,mqscbrebda
4,2812f4fc-6aba-0033-728b-7e569bb8adcc,36955009.0,180325003.0,0.0,197604.0,0,5,doweuewifm

### Pseudonymisieren der Pateinten ID in der dimensionstabelle d_patients

In [49]:
from sqlalchemy import false
conn = sqlite3.connect(DB_DWH_PATH)

cursor = conn.cursor()
cursor.execute("SELECT * FROM d_patients")
DF_of_d_patients = DataFrame(cursor.fetchall())
DF_of_d_patients.columns = ['patients_ID', 'PATIENTS_BIRTHDATE', 'PATIENTS_DEATHDATE', 'PATIENTS_GENDER']

DF_of_d_patients_with_pseudonym = DF_of_d_patients.merge(pseudonym_tabelle, on= "patients_ID")

DF_of_d_patients_for_DWH = sqldf("SELECT pseudonym AS PATIENTS_ID, PATIENTS_BIRTHDATE, PATIENTS_DEATHDATE,PATIENTS_GENDER FROM DF_of_d_patients_with_pseudonym")
DF_of_d_patients_for_DWH

cursor.execute("DELETE FROM d_patients")

conn.commit()
conn.close()

##Einlesen und sichern der benötigten daten für die ANTICOVIS Faktentabelle und der dimensionstabelle d_patients

In [50]:
DF_of_Facts_Table_ohne_patientenid = sqldf("""SELECT pseudonym AS patients_ID, conditions_code,procedures_code, devices_code, medication_grading, course_of_desease FROM DF_of_Facts_Table_pseudonym""")
DF_of_Facts_Table_ohne_patientenid

conn = sqlite3.connect(DB_DWH_PATH)

DF_of_Facts_Table_ohne_patientenid.to_sql('F_ANTICOVIS',conn, if_exists = 'replace', index = False)
DF_of_d_patients_for_DWH.to_sql('d_patients',conn, if_exists = 'replace', index = False)
conn.commit()
conn.close()

#TEST

In [52]:
conn = sqlite3.connect(DB_DWH_PATH)
cursor = conn.cursor()
#cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
cursor.execute("SELECT * FROM d_patients")
#cursor.execute("""DELETE FROM F_ANTICOVIS""")
print(cursor.fetchall())

[('mqscbrebda', '2002-05-05', '', 'F'), ('doweuewifm', '1942-05-24', '', 'M'), ('whixippdom', '2013-06-15', '', 'M'), ('hihiaqpouw', '1997-11-16', '', 'F'), ('vxzopnhdkw', '1965-08-28', '', 'M'), ('uhopvybpoy', '1974-12-06', '', 'F'), ('rmolshrqzq', '1991-08-19', '', 'F'), ('mueqyyztfe', '1952-12-25', '', 'M'), ('rctvvoieyc', '1980-02-24', '', 'F'), ('tjqrysjisy', '1992-10-19', '', 'F'), ('qguwpbbzww', '1982-11-06', '', 'M'), ('wyproalxvs', '2005-05-22', '', 'F'), ('sejlnhgaem', '1973-05-03', '', 'F'), ('zxdxgxrijk', '1944-09-05', '2010-06-01', 'F'), ('exisjdiwxi', '1988-08-16', '', 'F'), ('zsssbsqkfs', '1988-01-22', '', 'M'), ('yxfqidnxbf', '1989-01-21', '', 'M'), ('wqpobpanvb', '2002-11-08', '', 'M'), ('cryflepveu', '2010-09-20', '', 'F'), ('rxssvckgkf', '1957-12-07', '', 'F'), ('okgukhcrlt', '1981-05-15', '', 'F'), ('wegrsbvkgj', '1988-05-14', '', 'F'), ('eihasktovo', '1990-02-15', '', 'M'), ('sulwrbayko', '1997-02-13', '', 'F'), ('ecvxynlgxq', '1964-05-07', '', 'F'), ('vgqmhywypz', '2007-12-06', '', 'M'), ('tlpkbmszfl', '1989-09-21', '', 'M'), ('jxqsojunbl', '1944-09-05', '', 'F'), ('fqewzceavq', '1948-06-21', '', 'M'), ('adwfgeyvfn', '1991-11-04', '', 'M'), ('jaeybshene', '2011-01-21', '', 'M'), ('issgokmgqb', '1995-09-28', '', 'F'), ('btumtbdzil', '1947-08-25', '', 'F'), ('xsukhxgear', '1928-06-22', '', 'F'), ('wvtichehnq', '1993-07-21', '', 'M'), ('cjzyozhcyx', '1978-01-05', '', 'M'), ('evyqysomxv', '1955-06-16', '2012-12-20', 'M'), ('ovjwjrvvpz', '1919-01-10', '', 'M'), ('zdxtrjtptp', '1975-04-02', '', 'F'), ('tfkqvjpopa', '1976-01-19', '', 'F'), ('plyilxyvwq', '1958-11-24', '', 'F'), ('zclchuqcvo', '1957-03-20', '', 'F'), ('hxuyyzzhcz', '1968-03-14', '', 'M'), ('njwgaeccfb', '1998-09-27', '', 'F'), ('cudkqyxeyp', '1997-12-31', '', 'F'), ('bgoqcqrcfh', '2002-03-27', '', 'F'), ('tjemfbrleq', '1970-11-16', '', 'F'), ('ifrhjatrtp', '1953-06-27', '', 'M'), ('alprysuxjt', '1977-04-09', '', 'F'), ('wzxtqtbnec', '1955-06-16', '', 'M'), ('wyflypfhzh', '2004-05-03', '', 'M'), ('jtpkqkgqiu', '1995-04-11', '', 'M'), ('rptqssyrmz', '2001-02-23', '', 'F'), ('mvmneoylqw', '1990-01-17', '', 'F'), ('kkamgrjlfw', '1972-08-15', '', 'M'), ('fxqwiwpean', '2009-05-08', '', 'F'), ('tonngvloll', '2005-02-20', '', 'F'), ('owamyafars', '1989-03-28', '', 'M'), ('acqxvnjtra', '1941-12-07', '', 'F'), ('pkhqalftqg', '1966-02-10', '', 'M'), ('ppgopkfwge', '1994-03-30', '', 'F'), ('kvxeamksys', '2011-12-24', '', 'F'), ('fbfgbjhgpl', '2016-12-09', '', 'M'), ('ngoefgzyls', '1963-09-03', '', 'F'), ('qxfzctindo', '1967-12-29', '', 'F'), ('qzfyzctqle', '2015-11-05', '', 'F'), ('jwfbasgkvm', '1973-03-26', '', 'F'), ('pgfkzyrrtp', '1980-09-26', '', 'M'), ('zwsdptcpvd', '1997-03-03', '', 'F'), ('xsauwbgewd', '1953-05-27', '1977-06-08', 'F'), ('wgjhjpcfev', '1994-11-13', '', 'F'), ('relnvwulhc', '1998-08-08', '2020-03-16', 'M'), ('jdjhnfhhqf', '1956-02-12', '', 'M'), ('zqfbdgfmri', '1998-08-08', '', 'M'), ('bzruxppftk', '1996-06-10', '', 'M'), ('tkinzreenl', '1967-06-20', '', 'F'), ('frecllcubw', '2000-01-12', '', 'F'), ('myfkrhcxtx', '1975-12-21', '', 'F'), ('ciwipnqeuy', '1955-09-01', '', 'M'), ('znmhwmjojn', '1956-04-26', '', 'M'), ('aokzpbqmnj', '1952-01-07', '', 'F'), ('wqdfwsqiho', '1989-06-08', '', 'F'), ('suehtbntje', '2012-12-07', '', 'M'), ('nmoxdlitet', '1953-05-27', '', 'F'), ('hcdgiuyaul', '1917-02-14', '2004-01-14', 'M'), ('qwblvzdywg', '2003-06-07', '', 'M'), ('erfrbvaoov', '1957-03-24', '', 'M'), ('mjzliyxpdx', '1971-08-01', '', 'F'), ('ftadwhvyzq', '1965-08-18', '', 'M'), ('gjwmdponei', '2001-12-27', '', 'M'), ('elgqpehohg', '1942-12-07', '', 'F'), ('xchvygckep', '1925-08-19', '2020-03-15', 'M'), ('zgvdubcasi', '1955-08-20', '', 'F'), ('zbaqzvckcg', '1987-08-14', '', 'M'), ('oeqzajgqsd', '1976-07-30', '', 'F'), ('tkvdtzqwpz', '1917-02-14', '', 'M'), ('shegzuuspg', '2017-04-08', '', 'F'), ('wyfeblwuxd', '2018-11-22', '', 'F'), ('oxgjbzcdol', '1988-11-30', '', 'M'), ('styxspazib', '1975-05-28', '', 'F'), ('czigefaniv', '2017-06-28', '', 'F'), ('ndshtfvadk', '1989-11-18', '', 'F'), ('gjrwgdmcsj', '1952-11-12', '2020-02-12', 'M'), ('xomaqbwcec', '1962-03-31', '', 'F'), ('gfamgqermq', '1953-07-18', '', 'F'), ('sgbzpmkzcg', '1956-05-23', '', 'M'), ('bwenbkydnn', '1952-08-17', '', 'M'), ('igcnyfdasm', '1925-08-19', '', 'M'), ('ipucrtjyaw', '1952-11-12', '', 'M'), ('ifowyzgpcw', '2015-03-14', '', 'F'), ('txkrehlvwg', '1978-12-12', '', 'F'), ('spgogneoxe', '1952-06-07', '', 'F'), ('ggzfihifgm', '1993-05-09', '', 'F'), ('vjjqeapjbm', '1967-12-23', '', 'F'), ('yprgmqdcnm', '2006-03-27', '', 'F'), ('atuqxplxei', '1988-09-18', '', 'F'), ('bulmcabnph', '1982-02-20', '', 'F'), ('xhcylpgwgq', '2008-02-14', '', 'F'), ('zeykyhljvs', '1973-03-27', '', 'F'), ('fygdksysko', '1973-01-15', '', 'F'), ('muodyonscg', '1998-01-18', '', 'M'), ('islmhwjfav', '1955-11-14', '', 'M'), ('iscdoycvnx', '1970-07-31', '', 'F'), ('sahjkxnxei', '1973-12-16', '', 'M'), ('bqwgxzmvls', '1992-06-13', '', 'M'), ('uiivjwwncn', '1968-06-02', '', 'M'), ('ypvqyjzfyb', '2014-08-06', '', 'M'), ('wdpqumykfl', '1987-07-07', '', 'M'), ('eoyhoocnsq', '1996-12-31', '', 'M'), ('oqlcltocnt', '1953-04-15', '2011-05-25', 'M'), ('txopeyvjtx', '1949-06-02', '', 'M'), ('jmokiinpxh', '1960-09-30', '', 'M'), ('inxsxcoqow', '2006-04-03', '', 'M'), ('acuxjusewi', '1953-04-15', '', 'M'), ('frmcpcwowp', '1957-09-25', '', 'F'), ('qgbycfjjwh', '1965-11-21', '', 'F'), ('ifjluqhtos', '1952-08-10', '', 'M'), ('rmwbpmylrc', '1999-09-18', '', 'F'), ('dmufwbgibv', '1972-08-08', '', 'F'), ('ltoprhpxvj', '1991-01-17', '', 'M'), ('jdfqcuejge', '1960-03-26', '2020-03-25', 'M'), ('wqcdoorpnc', '1957-01-22', '', 'M'), ('nmeqnlznsa', '1970-05-15', '', 'F'), ('ltqyktaafz', '1961-08-29', '', 'M'), ('yxijkazvhy', '1962-05-23', '', 'F'), ('jvrhqmnxtk', '1993-07-05', '', 'M'), ('uqymmcqlev', '1965-09-04', '', 'M'), ('snkrcijzte', '1973-07-15', '', 'F'), ('vtftcksedz', '1960-03-26', '', 'M'), ('szowpyzfua', '1959-07-21', '', 'M'), ('onncmmrkfl', '1943-03-25', '', 'M'), ('cyaotsrdqk', '1957-05-29', '', 'F'), ('squvvxcstf', '2000-11-24', '', 'M'), ('okgudtqayx', '1998-05-03', '', 'M'), ('ggwsfdfowp', '2002-06-29', '', 'F'), ('cuiqcpkjwy', '2011-07-24', '', 'F'), ('eoaqvwtjvj', '1939-05-24', '', 'M'), ('hbhjzcnijr', '2011-11-30', '', 'M'), ('tnvqkljxci', '2011-01-23', '', 'F'), ('sflhxgdrgs', '1955-08-10', '', 'F'), ('zdqzusgfyi', '1977-02-14', '', 'M'), ('efjfvrifem', '1968-03-11', '', 'M'), ('tphvvtmkhk', '1967-03-07', '', 'F'), ('pirmowqytv', '1958-02-26', '', 'F'), ('miaqdxiwkk', '2018-09-14', '', 'F'), ('bewirxngsp', '1950-01-30', '', 'F'), ('qezlomwodb', '1989-01-08', '', 'M'), ('doucosuxil', '1993-03-07', '', 'M'), ('mvucuhvtil', '2001-06-13', '', 'F'), ('khesfuatvj', '1979-02-27', '', 'F'), ('mmmtfsevqk', '1996-04-29', '', 'M'), ('povlbaolhb', '2014-06-09', '', 'M'), ('yseathvtnv', '1912-08-29', '', 'M'), ('fgunvceqcy', '1986-06-07', '', 'M'), ('udbyxxoiuq', '1956-07-07', '', 'F'), ('rbxbmzvqaz', '1968-02-23', '', 'F'), ('vlduqvjuzr', '1947-04-06', '', 'M'), ('xfcaixuoiu', '2014-08-26', '2018-03-06', 'F'), ('qpdybuadxl', '1955-01-28', '1988-03-04', 'M'), ('knjogqkyop', '1971-03-28', '', 'F'), ('tkobwnkodq', '1954-02-21', '', 'F'), ('uowvebaxix', '1955-01-28', '', 'M'), ('cssunmixwu', '2001-12-12', '', 'M'), ('lcjifynvnw', '2014-08-26', '', 'F'), ('aibijjvleg', '1974-03-04', '', 'F'), ('zalcrnxzla', '2007-06-06', '', 'F'), ('tueitmrqfm', '1991-09-02', '', 'M'), ('mpbobqmszp', '2006-09-28', '', 'M'), ('urxnilxkux', '1975-12-14', '', 'F'), ('zuyqdmkblt', '1980-03-30', '', 'M'), ('xpzmqeboai', '1923-09-14', '', 'F'), ('ydkpncqihq', '2010-10-19', '', 'M'), ('dviqmjbstz', '1981-03-14', '', 'M'), ('ojhadolshh', '1971-08-09', '', 'M'), ('rujkjaqqva', '2012-02-04', '', 'M'), ('hvzaabpdtv', '1942-01-18', '', 'M'), ('tztdazlhub', '2011-08-18', '', 'F'), ('jjommsuaeo', '1973-03-27', '', 'M'), ('dwpxqpvkxi', '1990-04-19', '', 'F'), ('pgezhajvgl', '1999-07-02', '', 'M'), ('eznsqemyxw', '2009-08-02', '', 'M'), ('mtejzkuyra', '1961-01-30', '', 'F'), ('twgnurejfa', '1967-07-06', '', 'M'), ('qolxmbjuxm', '1999-04-18', '', 'F'), ('mkzrefdkbi', '1930-04-06', '', 'F'), ('fnwjattyan', '1995-02-28', '', 'F'), ('xfaqabvolw', '1966-07-16', '', 'F'), ('gpizrzuoxl', '2005-10-19', '', 'M'), ('prrxhpfdku', '2008-08-16', '', 'F'), ('ejaavcvajl', '1976-11-05', '', 'F'), ('miliqdvxku', '1989-10-05', '', 'F'), ('ppdjxfmumm', '1981-05-05', '', 'F'), ('znhgmpaxoh', '1955-02-12', '', 'M'), ('oqdzwbwxhm', '1999-12-06', '', 'F'), ('edvovmeygz', '2013-11-24', '', 'M'), ('ovmyqdoicn', '2001-03-10', '', 'M'), ('evegntmxgk', '1985-03-31', '', 'F'), ('fqtaxlibfq', '1990-10-09', '', 'F'), ('mrfbojwxlj', '1988-08-14', '', 'M'), ('njufxhssxc', '1954-06-18', '', 'F'), ('kixydjoawh', '2000-09-03', '', 'F'), ('nvosjzlmdt', '2009-09-04', '', 'F'), ('vyhyxlcimh', '1965-11-19', '', 'F'), ('vzlajsgyaq', '1922-01-06', '2010-11-05', 'M'), ('ltxpsdiydl', '1969-03-18', '', 'F'), ('factsvdzoa', '2000-08-25', '', 'M'), ('nwxyuxzjiu', '1945-06-20', '2016-05-18', 'F'), ('vlfeeigzeh', '1912-01-31', '2020-04-01', 'F'), ('qpqxvsxqpt', '1941-03-30', '', 'M'), ('ltjapiwtss', '1951-04-02', '', 'F'), ('fhpeacelir', '1991-09-29', '', 'M'), ('vvqbrjacty', '1976-02-28', '', 'F'), ('mthvrhgwaq', '1997-06-24', '', 'M'), ('hyhykrgxhy', '1945-06-20', '', 'F'), ('ccjeaetxua', '1922-01-06', '1983-12-09', 'M'), ('zdcypakctp', '2004-08-09', '', 'F'), ('vxzbkfpeae', '1965-05-15', '', 'F'), ('rhmrcimyfp', '1912-01-31', '', 'F'), ('rwqdvldrci', '1956-11-16', '', 'F'), ('ztmdeuzzcs', '1986-05-21', '', 'M'), ('omlmskyjeh', '1951-08-29', '', 'F'), ('ltkearpkju', '1912-06-29', '', 'M'), ('pnvmwwefop', '2002-12-14', '', 'M'), ('xwplcfgsaz', '1986-01-27', '', 'F'), ('rxnvevjmxr', '2016-06-24', '', 'F'), ('zkzjwdabki', '1922-01-06', '', 'M'), ('afultjvdss', '1994-11-15', '', 'M'), ('gwqtjlwxgu', '2017-08-12', '', 'M'), ('usngkzdwko', '1971-03-12', '', 'F'), ('dwotwzodac', '2009-01-30', '', 'M'), ('wixwqtvucj', '1958-11-11', '', 'M'), ('cytxojngat', '1941-02-10', '', 'F'), ('ptjtigosdk', '2007-06-19', '', 'M'), ('ymyikuaiua', '2000-10-05', '', 'M'), ('lzygxsytvv', '2001-07-23', '', 'M'), ('oqrpruoeih', '1997-09-26', '', 'M'), ('pkootknsst', '1961-07-10', '', 'M'), ('vjhzqbuwvq', '1969-11-22', '', 'F'), ('odweyalgmj', '1943-03-10', '', 'M'), ('qlxjfqdchy', '1994-05-20', '', 'M'), ('pevaamfbda', '1969-11-23', '', 'F'), ('hvwiaymbni', '2013-07-14', '', 'F'), ('lqcotqmwua', '1992-04-11', '', 'F'), ('jpqbhqjcqu', '2001-04-02', '', 'M'), ('tmyvbotofi', '1964-03-02', '', 'F'), ('vjluvvvlvj', '1975-11-23', '', 'F'), ('ipbagtvwvy', '1938-09-01', '', 'M'), ('nrvcfjmvew', '2017-08-24', '', 'F'), ('sczpbucqoo', '2011-07-30', '', 'F'), ('hvjlxnqsej', '1989-12-30', '', 'F'), ('jheyhkbtcc', '1993-03-13', '', 'M'), ('ehnijdbzmk', '1987-08-28', '', 'F'), ('tsllknaaqx', '1961-10-24', '', 'M'), ('njhzwksdfh', '1946-04-28', '', 'M'), ('hdgygwprxb', '1983-06-18', '', 'M'), ('ssuqxkmgbw', '1971-05-22', '', 'F'), ('jckazdvovd', '1967-07-02', '', 'M'), ('suxxxnsgrg', '1976-10-20', '', 'M'), ('guhyybgpiw', '1961-10-07', '', 'F'), ('jyrnlfvsbo', '1963-05-20', '', 'M'), ('tmijuxopjf', '1935-10-02', '2020-04-01', 'M'), ('ieykjwoyqj', '2014-03-31', '', 'M'), ('cqniekawzs', '2006-07-24', '', 'M'), ('vswxpglury', '1993-01-13', '', 'F'), ('siqxmypqbw', '1993-06-16', '', 'F'), ('vqlmnohbcc', '2002-12-17', '', 'M'), ('fkoogybnnj', '2000-12-16', '', 'M'), ('xdajgshlyi', '1935-10-02', '', 'M'), ('cgnyjqnnff', '1938-12-23', '', 'M'), ('qhkvfjkulj', '1948-08-03', '', 'M'), ('skckiakdjf', '1991-05-09', '', 'M'), ('kfzsoyaqxq', '1960-05-06', '', 'F'), ('wistxzssrj', '1971-12-28', '', 'M'), ('pajyugckmp', '1954-03-03', '', 'M'), ('ngoigaumsg', '1969-01-15', '', 'F'), ('gphlckndrz', '1969-05-13', '', 'M'), ('vehnefrwwa', '1961-04-07', '', 'M'), ('hcklhxkley', '1966-03-10', '', 'M'), ('brmdmccsxk', '1972-10-28', '', 'F'), ('cokldhhpag', '1967-02-17', '', 'F'), ('peownzbqld', '1984-01-15', '', 'M'), ('vzknarjpho', '1993-08-14', '', 'M'), ('ivwwldyroc', '1944-03-19', '1981-09-06', 'M'), ('alvmibgliq', '1958-02-19', '', 'M'), ('jnzqpeqxtk', '1999-09-08', '', 'F'), ('qqsoentpio', '2006-01-31', '', 'F'), ('cjbogatphf', '1991-06-07', '', 'F'), ('mepocqklyk', '1945-05-08', '', 'F'), ('ndmfzotjyj', '2013-06-19', '', 'F'), ('xlrzajbcpd', '1983-05-24', '', 'M'), ('cafejrqflf', '2005-10-17', '', 'M'), ('jbwdokjlpv', '1979-05-25', '', 'F'), ('oqwkhscrqx', '1983-04-16', '', 'M'), ('nmrwatrpaa', '1951-11-29', '2005-03-10', 'F'), ('xgacsjhccx', '1944-03-19', '', 'M'), ('eromnyhtfe', '2016-06-02', '', 'M'), ('xzdakpuvdg', '1998-06-03', '', 'F'), ('jceyadovwn', '1968-06-27', '', 'F'), ('ssnukaersa', '1910-12-10', '2000-10-07', 'M'), ('mvjpymseai', '1954-12-09', '', 'M'), ('afjyipsxpz', '1974-12-28', '', 'F'), ('cwwlopfcqe', '1915-01-26', '', 'M'), ('hajevyjzps', '2004-01-11', '', 'F'), ('xpgujngejv', '1977-06-15', '', 'F'), ('wnnjnzcrgq', '2013-06-24', '', 'M'), ('ijenuooamt', '2012-09-23', '', 'M'), ('vzrhtbfzau', '1951-11-29', '', 'F'), ('abhvnhrgap', '1910-12-10', '', 'M'), ('limfdqpnon', '1967-11-11', '', 'F'), ('ccjkbruldn', '1981-12-26', '', 'M'), ('ymesdxkauo', '2007-01-03', '', 'M'), ('asuudyygys', '2006-11-14', '', 'F'), ('sgehykdhhr', '1943-02-13', '', 'M'), ('mwerrmftsb', '2005-02-10', '', 'F'), ('izrayzwupu', '1970-02-19', '', 'M'), ('lbfzspzhsj', '1966-10-27', '', 'M'), ('gqkvumypxc', '1960-11-22', '', 'M'), ('gyktwsnzms', '1998-05-23', '', 'F'), ('aamzjtgwuh', '1932-05-06', '2020-02-14', 'M'), ('pslvtnpbhm', '1941-05-16', '', 'F'), ('htdaagvydq', '1956-09-14', '', 'F'), ('zcgnugpctk', '2006-06-19', '', 'F'), ('ekyeqgeilt', '1990-07-28', '', 'M'), ('vydlvzhujv', '2018-02-24', '', 'M'), ('vfkhtywlxb', '1942-12-04', '', 'M'), ('qhyalhjygv', '1950-11-12', '', 'F'), ('jyaebougyf', '1961-11-30', '', 'M'), ('jhblnwimoq', '1969-08-18', '', 'M'), ('wsxvvrhetw', '2001-03-26', '', 'F'), ('ngjrmrlxnp', '2010-08-08', '', 'F'), ('axetylocqj', '1911-03-22', '2000-12-20', 'F'), ('nemjrqysor', '2007-07-12', '', 'M'), ('lkmhktvkdn', '1947-04-22', '', 'F'), ('qbjellqhfw', '1963-03-09', '', 'M'), ('ijgxxhcjca', '1932-05-06', '', 'M'), ('npbuhaagpy', '1963-02-21', '', 'F'), ('bwdrbufffp', '1970-10-29', '', 'M'), ('gcgyqmngly', '1971-07-10', '', 'M'), ('ocujzxpxuh', '1981-09-09', '', 'F'), ('zhpqflradl', '1911-03-22', '', 'F'), ('pukcpopflg', '2003-04-21', '', 'M'), ('cdzvfxlesm', '1964-03-11', '', 'F'), ('etlggzqeif', '2005-08-17', '', 'M'), ('xeozushgmi', '1969-05-01', '', 'F'), ('tbimwgjzvw', '1922-12-11', '', 'F'), ('bulqzcqjnt', '1948-06-24', '', 'M'), ('eynlunueyw', '1994-08-26', '', 'F'), ('vglfahohjf', '1999-11-20', '', 'F'), ('dsjfrxmxcg', '1999-01-22', '', 'F'), ('ijxjekkpfb', '2018-03-27', '', 'F'), ('onrbunfmsb', '2013-04-27', '', 'F'), ('wzlkognyav', '2017-11-10', '', 'M'), ('ilvamxvohs', '1953-03-25', '', 'F'), ('bjercprult', '1991-03-23', '', 'F'), ('nkapepvkut', '1997-09-21', '', 'M'), ('wjqojcfccs', '1966-09-07', '', 'F'), ('gurucxzmag', '1990-10-24', '', 'F'), ('imtxvubdll', '1953-12-19', '', 'F'), ('btjxxlpcih', '2018-11-14', '', 'F'), ('eltyswaoai', '1967-11-06', '', 'F'), ('kketqtiuml', '1970-01-09', '', 'F'), ('upparrougn', '1988-03-04', '', 'M'), ('pnxnydekty', '1955-09-13', '', 'M'), ('sbykztleqo', '1965-03-13', '', 'F'), ('tsnkdoeapa', '1961-05-21', '', 'M'), ('pezlvecght', '2002-08-18', '', 'F'), ('ubuzpcycbg', '1961-07-05', '', 'M'), ('jafntgehpx', '2000-12-19', '', 'M'), ('rbgwlngmxf', '1938-05-10', '1998-04-21', 'M'), ('dwvxkefmdd', '1945-05-09', '', 'M'), ('hbmsfmdjrr', '1917-08-03', '', 'M'), ('otpnqyicse', '1961-10-05', '', 'M'), ('zycjlnjami', '1984-07-28', '', 'M'), ('zxlrdthkcc', '1960-02-01', '1997-04-28', 'M'), ('ohsnqywetj', '1971-03-11', '', 'M'), ('uqdwlynnkj', '1991-04-18', '', 'M'), ('jzrxpqbszi', '1962-07-25', '', 'F'), ('fgtfgaritf', '2011-04-26', '', 'F'), ('iupyuublrw', '1990-07-07', '', 'F'), ('hvctlncdpw', '1959-10-12', '', 'M'), ('rahwopwetj', '1992-06-10', '', 'M'), ('chbcvpugrb', '1960-02-01', '', 'M'), ('tplmczzotw', '1959-02-03', '', 'M'), ('iybgzteagr', '1991-08-29', '', 'M'), ('aymbgdwnyy', '2006-01-08', '', 'M'), ('utzrrqdoma', '1969-04-12', '', 'M'), ('fvvmkxiozs', '1964-06-10', '', 'F'), ('bzoxffbkce', '1989-12-07', '', 'M'), ('rpzveeyjdb', '1998-05-22', '', 'F'), ('qqtobvtely', '1961-10-04', '', 'F'), ('lofgjxyfui', '1938-05-10', '2020-03-27', 'M'), ('qmordaduhy', '2012-12-27', '', 'F'), ('mrnwsayzdp', '1984-09-11', '', 'F'), ('xlpwmezprf', '2006-01-16', '', 'F'), ('yqmhcdbujt', '1967-11-15', '', 'F'), ('juhjpeskeg', '1992-10-16', '', 'M'), ('lgjbxvstkq', '1987-07-05', '', 'F'), ('rlzjuwlqwk', '2019-05-13', '', 'F'), ('xcxgkhuxsj', '1960-08-01', '', 'M'), ('gjitxrcsmt', '1991-03-21', '', 'M'), ('cttjkdymzk', '1939-12-11', '', 'F'), ('fwtkzgijzk', '1938-05-10', '', 'M'), ('wmxsoreegr', '1996-10-21', '', 'M'), ('bbitouvjob', '1998-07-16', '', 'M'), ('uvuvwxciek', '1957-04-17', '', 'F'), ('ihoqyyslet', '2006-05-25', '', 'M'), ('fhjqrzasns', '1940-07-17', '', 'M'), ('wpjqrvdfro', '1954-07-30', '', 'M'), ('jtorbofjgj', '2007-11-04', '', 'F'), ('kuycucijtf', '1971-10-16', '', 'M'), ('rachcsbxwg', '1994-06-09', '', 'F'), ('pzvmxlrpbz', '1950-05-03', '', 'F'), ('jafowyzbdc', '1982-03-03', '', 'F'), ('qrollogpur', '1963-11-16', '', 'F'), ('omwqythztw', '1962-11-09', '', 'M'), ('fmpkxqnfwk', '1939-01-14', '', 'F'), ('lvdavuroud', '2012-08-12', '', 'F'), ('ziulredzwe', '2002-05-02', '', 'F'), ('vcuaufxfvi', '1974-05-16', '2020-03-08', 'M'), ('yiscvcdysl', '1942-11-05', '2020-03-20', 'F'), ('tlympkvjkf', '1974-05-16', '', 'M'), ('tsxcgqvfkc', '1974-05-30', '', 'M'), ('rjmzciudgn', '2003-04-29', '', 'F'), ('hgkbzzjuac', '2004-01-16', '', 'F'), ('loausyjyjo', '1967-07-11', '', 'F'), ('odjabjucij', '1962-01-28', '', 'M'), ('kqbpfkcfqx', '1955-10-20', '', 'F'), ('zniwdqnmod', '1978-02-08', '', 'M'), ('snxksmgsoy', '1985-06-12', '', 'M'), ('hmzsyqwmdq', '1996-06-21', '', 'M'), ('cwmvhyxxib', '1942-11-05', '', 'F'), ('mdjwfvgyqb', '1991-08-21', '', 'M'), ('dskmoulktb', '1991-10-10', '', 'F'), ('lgidpvygzq', '1945-04-26', '2016-12-01', 'M'), ('grvcgcziuy', '1954-07-28', '', 'M'), ('hixpyegkwn', '1992-02-22', '', 'F'), ('dycbnkjcic', '1997-11-26', '', 'M'), ('gvxkpuoaqg', '1962-06-29', '', 'F'), ('tsgcisomyr', '1986-08-31', '', 'F'), ('adjfklsgzv', '1982-06-11', '', 'F'), ('hrffwhftqh', '1996-11-14', '', 'F'), ('btydszrtox', '1980-03-16', '', 'F'), ('lspjpcenfs', '1998-04-08', '', 'F'), ('kaqzczkwmm', '2004-01-31', '', 'F'), ('hfaftpbudy', '1979-07-26', '2020-03-26', 'M'), ('wwibiqgmll', '1945-04-26', '', 'M'), ('yzevrnxecr', '1986-01-04', '', 'F'), ('hpsjddbstm', '2007-06-10', '', 'F'), ('jssgclbkml', '2011-01-02', '', 'F'), ('egvjzizhgz', '1979-07-26', '', 'M'), ('qrgaaynwmc', '1942-08-18', '', 'M'), ('sylnhbiida', '1966-04-27', '', 'M'), ('daihvgxmsl', '1966-11-29', '', 'F'), ('dbghevnvle', '1940-03-16', '2020-03-24', 'F'), ('snypetmnpo', '1970-03-31', '', 'M'), ('mbocixpysh', '1940-08-02', '', 'M'), ('vfqfpeqlbx', '1986-10-27', '', 'M'), ('ksvklsrknc', '1964-10-09', '', 'F'), ('mldexouotl', '2009-04-07', '', 'F'), ('ttqypucfgn', '2012-06-29', '', 'F'), ('fziutzjykl', '1968-10-06', '2020-03-22', 'F'), ('mcuibcjyri', '2004-01-03', '', 'F'), ('hmyoesyojh', '2015-09-03', '', 'M'), ('raaumxwsvm', '1953-12-03', '', 'F'), ('dazdmuhmuj', '1971-08-09', '', 'F'), ('mjqdtwzsml', '1940-03-16', '', 'F'), ('vuhofkebka', '1990-04-05', '', 'F'), ('mkkgztdhez', '1926-05-16', '', 'F'), ('fjkzcaepwr', '1993-02-13', '', 'F'), ('cpuysxzbeg', '2000-06-21', '', 'M'), ('pqalyshzkl', '1962-10-26', '', 'M'), ('lobxgkvmly', '1968-10-06', '', 'F'), ('wvacxxdtkc', '2007-12-04', '', 'F'), ('ajjzzrzska', '2004-01-07', '', 'F'), ('yejkyvjctm', '1941-07-17', '', 'F'), ('xwpambylfa', '1967-11-30', '', 'F'), ('xagedhzcuy', '2009-01-25', '', 'F'), ('crivumvdew', '1975-08-20', '', 'M'), ('zneajbvubr', '2009-03-05', '', 'M'), ('csmkqfgknw', '2005-03-18', '', 'F'), ('snwzkrbzsj', '1965-12-21', '', 'F'), ('ulrxudfcfh', '1991-01-09', '', 'M'), ('dqoucxyope', '2015-05-28', '', 'M'), ('wixuujewbs', '2013-04-03', '', 'M'), ('idyzyuxbnp', '1996-07-06', '', 'M'), ('is